[submodule "third_party/args"]
	path = third_party/args
	url = https://github.com/Taywee/args.git
[submodule "third_party/bvh"]
	path = third_party/bvh
	url = https://github.com/madmann91/bvh.git
[submodule "third_party/embree"]
	path = third_party/embree
	url = https://github.com/RenderKit/embree.git
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "third_party/oneTBB"]
	path = third_party/oneTBB
	url = https://github.com/uxlfoundation/oneTBB.git
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "third_party/visage"]
	path = third_party/visage
	url = https://github.com/VitalAudio/visage.git
